@import '../utils/variables.scss';

.hero-section {

    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), #000000), url('../assets/banner.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - 355px);
    width: 100%;


    &>.container {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;

    }

    &__title {
        text-align: center;
        color: $white;
        font-size: 55px;
        line-height: 50px;
    }

    &__label {
        color: $white;
        font-size: 28px;
        font-weight: 200;
        margin-bottom: 35px;
        letter-spacing: 3px;
    }

    &__text {
        color: $white;
        margin-bottom: 35px;
        font-size: 22px;
        font-weight: 300;
        line-height: 30px;
        letter-spacing: 1px;
        text-align: center;
        width: 60%;
    }

}

@media only screen and (max-width: 768px) {
    .hero-section {

        padding: 20px 0;
        height: auto;
        &__title {
            font-size: 45px;
            line-height: 45px;
            margin-bottom: 20px;
        }

        &__label {
            color: $white;
            font-size: 24px;
            font-weight: 200;
            margin-bottom: 15px;
            letter-spacing: 1.5px;
        }

        &__text {
            color: $white;
            margin-bottom: 20px;
            line-height: 25px;
            font-size: 18px;
            width: 90%;

        }
    }
}
